@using MovieApp.Infrastructure.Models.MovieDb.TvSeriesDetail
@model TvSeriesDetailModel;




<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orjinal Adı: @Model.original_name </h5>
                    <h5 class="card-title">@Model.original_name </h5>
                    <div class="w-100 mt-3"></div>
                    <p class="card-text"><img src="@(string.Concat("https://image.tmdb.org/t/p/original", Model.backdrop_path))" class="img-fluid" alt="@Model.original_name" style="max-width: 300px; height: auto;" /></p>
                    
                    <p class="card-text">Bölüm Sayısı: @Model.number_of_episodes</p>
                    <p class="card-text">Sezon Sayısı: @Model.number_of_seasons</p>
                    <p class="card-text">
                        Orjinal Dil:  @string.Join(", ",@Model.spoken_languages.Select(g => g.name))
                    </p>
                    <p class="card-text">Genel Bakış: @Model.overview</p>
                    <p class="card-text">Tarz: @Model.type</p>

                    <p class="card-text">
                        Tür: @string.Join(", ", Model.genres.Select(g => g.name))
                    </p>
                    <p class="card-text">
                        Platform: @string.Join(", ", @Model.networks.Select(g => g.name))
                    </p>
                    <p class="card-text">
                        Ülke: @string.Join(", ", @Model.origin_country)
                    </p>
                </div>
            </div>
        </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                    <h5 class="card-title">Poster </h5>
                    <p class="card-text"><img src="@(string.Concat("https://image.tmdb.org/t/p/original", Model.poster_path))" class="img-fluid" alt="@Model.original_name" style="max-width: 300px; height: auto;" /></p>
                </div>
            </div>
        </div>
    </div>
</div>